                           html {
                               margin: 0px;
                               padding: 0px;
                           }
                           
                           #search {
                               display: inline-block;
                           }
                           
                           #search input {
                               height: 40px;
                               width: 400px;
                           }
                           
                           #search button {
                               height: 40px;
                               padding: 2px;
                           }
                           
                           a {
                               padding: 3px;
                               margin-left: 3px;
                               text-decoration: none;
                           }
                           
                           img {
                               max-width: 100px;
                           }
                           
                           .flex {
                               height: 50px;
                               display: flex;
                               justify-content: space-around;
                               align-content: stretch;
                           }
                           
                           dl {
                               width: 300px;
                               background-color: rgb(255, 255, 255);
                           }
                           
                           dl dd {
                               max-width: 200px;
                           }
                           
                           #video {
                               width: 1000px;
                           }
                           
                           .body {
                               display: flex;
                               justify-content: space-around;
                               background-color: #eee;
                           }